@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    /* overflow: hidden; */
    background-color: rgb(224,241,243);
}

html {
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 8px;
}

body.thin::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(6, 174, 240, 0.4); 
}

.hero {
    height: 100vh;
    position: relative;
    color: rgb(0, 36, 61);
}

.hero video {
    width: 100%;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.hero h2, h3 {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 20%;
    /* transform: translate(-20%, -20%);
    text-align: left; */
}

.hero h2::first-letter {
    color: rgb(0, 52, 101);
}

.hero h2 {
    font-size: 4rem;
}

.hero h3 {
    font-size: 1.2rem;
    margin: 5rem 0rem;
    color: rgb(0, 104, 202);
}

.menu {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 20%;
    color: rgb(0, 36, 61);
    font-size: 1.4rem;
}

li {
    padding-bottom: .5rem;
    list-style: none;
}

li a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 36, 61);
    padding-bottom: 1rem;
}

li a:hover {
    color: rgb(0, 104, 202);
}

.block {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%; 
    padding-right: 20%; 
}

.image {
    background: transparent;
    margin-right: 2rem;
}

.image img{
    width: 300px;
	visibility: hidden;
}

.bigEntrance{
	animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;			
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}

@media screen and (max-width: 750px) {
    .hero h2 {
        font-size: 3rem;
    }

    .hero h3 {
        margin-top: 5rem;
    }
};

